
   <body class="about">
        

  <!-- content -->
   <div class="wrapper">
        <div class="wrapper">
          <h7>OUR MISSION</h7>
          <p class="quot" style="font-size: 18px">To provide a loving, safe and secure environment for the well being of elephants where they are free to roam, socialize, bathe and feed without undue human interference as nature intended. <%=image_tag("quot2.png")%> </p>
        </div>
        <h7>Why and Wherefore</h7>
        <p class="pad_left2">After visiting many temples and seeing the pitiful conditions elephants were existing in, Dr. Dharini (TREE Foundation) and Ms. Ganguly and Dr. Shiela Rao ( WRRC) realized that no amount of report writing and documenting the deplorable conditions would improve the lives of the elephants. Together, with the support of TREE Foundation and WRRC, they set about finding a way to create a better, brighter alternative life for them. 
It became clear that the only solution would be to establish a dedicated and specialized care facility for these elephants where they could slowly recover from years of captivity and, in many cases, neglect.<br />
The seven founding freedoms of the Elefriends101 Elephant Care facility are:

<li><p class="pad_left2">Freedom to move around without shackles/chains or ropes in a natural, protected, semi-wild space</p></li>
<li><p class="pad_left2">Freedom to sleep, walk, play or bathe under benevolent human monitoring and presence</p></li>
<li><p class="pad_left2">Freedom to play with water or indulge in dust-baths and other normal behavior</p></li>
<li><p class="pad_left2">Freedom from fear of emotional or physical pain and distress</p></li>
<li><p class="pad_left2">Freedom to indulge in natural social interactions</p></li>
<li><p class="pad_left2">Freedom from hunger, malnutrition or thirst</p></li>
<li><p class="pad_left2">Freedom from injury and disease.</p></li>

<p class="pad_left2">As elephant numbers, both African and Asian, continue to decline, it is imperative that we strive to take care and ensure the wellbeing of those who remain.

As more temples are coming to see the benefits of granting the elephants freedom after a life of servitude to humans we expect the Elephant Care Facility to grow in the future to accommodate many more deserving elephants. We hope you will join us on this journey.
</p>

   <div class="wrapper">
        <div class="wrapper">
          <h7>The Team</h7>
  
      </div>
      </div>
   <article id="content" class="tabs">
     <!-- <div class="wrapper">
        <div class="box1">
          <div class="line1a">
            <div class="wrapper">
              <section class="col11">
                <h2 class="color2"><strong>T</strong>ree Foundation India</h2>
                <div class="pad_bot1">
                  <figure><%=image_tag("page2_img1.jpg")%></figure>
                </div>
                TREE Foundation- Trust for Environment Education, Conservation & Community Development and Country Head , Jane Goodall’s Roots &Shoots, International Voluntary Netwrok<a href="#TREE" class="button1 color2">Read More</a> </section>
              <section class="col11 pad_left1">
                <h2><strong>W</strong>RRC</h2>
                <div class="pad_bot1">
                  <figure><%=image_tag("Wrrc.png")%></figure>
                </div>
                Co-founder and Trustee Compassion Unlimited Plus Action (CUPA) and Wildlife Rescue and Rehabilitation Centre (WRRC),<a href="#Tree" class="button1 color2">Read More</a></section>
         
            </div>
          </div>
        </div>
      </div>-->
     <div class="wrapper">
        <ul class="nav">
          
           <div class="box1">
          <div class="line1a">
            <div class="wrapper">
              <section class="col11">
                <h2 class="color2"><strong>T</strong>REE Foundation India</h2>
                <div class="pad_bot1">
                  <figure><%=image_tag("page2_img1.jpg")%></figure>
                </div>
                TREE Foundation
Founded in October 2002 by Dr. Supraja Dharini, the TREE Foundation -Trust for Environment and Education, Conservation and Community Development has dedicated itself to the protection of all life through community participation and ongoing educational programs that reach all levels of society. Creating attitudinal change among an ever growing human population is the only way to ensure a peaceful coexistence with all the other life forms we share the planet with. Inspired by Dr. Jane Goodall DBE, TREE Foundation has been at the forefront of animal welfare for almost 15 years and also operates the only sea turtle Rescue and Rehabilitation Centre in the state. The foundation is also recognized by the Animal Welfare Board of India.
<a href="#TREE" class="button1 color2" onclick="scrollWin()">Members</a> </section>
              <section class="col11 pad_left1">
                <h2><strong>W</strong>RRC</h2>
                <div class="pad_bot1">
                  <figure><%=image_tag("wrrc1.png")%></figure>
                </div>
                The Wildlife Rescue & Rehabilitation Centre (WRRC) was registered in July 1999 as a public charitable Trust for the conservation and welfare of wildlife in urban and rural areas around Bangalore, India. WRRC was set up by the trustees of Compassion Unlimited Plus Action (CUPA), in response to a keenly felt need: to provide relief to wild animals, birds and reptiles; including medical treatment and housing; as well as to handle cases of cruelty involving these animals. Wild animals are injured, abused and illegally traded; and concerned members of the public have few options for their treatment and housing. Expertise in their management and rehabilitation is also rare.<a href="#WRRC" class="button1 color2" onclick="scrollWin()">Members</a></section>
         
            </div>
          </div>
          
        </ul>
      </div>
      <div class="wrapper">
        <div class="box2">
          <div class="wrapper tab-content" id="TREE">
            <section class="col133">
            	<h2 class="color2"><strong>T</strong>REE Foundation India</h2>
              <h4><span>DR. SUPRAJA DHARINI </span>- Founder Trustee-Chairperson</h4>
              
              <p class="pad_bot1">An artist by profession, Dr. Dharini devotes the majority of her time to the protection of the natural environment through numerous initiatives. Deeply concerned about the natural world Dr. Dharini is at the forefront of campaigning for legislative change to improve the level of protection offered to the natural environment and endangered marine and terrestrial species. Dr. Dharini is also the Country head for Dr. Jane Goodall’s Roots & Shoots International Volunteer Youth Program.</p>
              <h4 class="color2"><span>Saeef AB</span> </h4>
              <p class="pad_bot2"><strong>Et harum quidem rerum facilis est et expedita distinctio</strong></p>
              <p class="pad_bot1">Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur.</p>
              <h4 class="color3"><span>G R  Govind</span></h4>
              <p class="pad_bot2"><strong>Sed ut perspiciatis unde omnis occaecati cupiditate non provident</strong></p>
              Natus error sit voluptatem accusantium doloremque laudantium architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit. </section>
          </div>
          <div class="wrapper tab-content" id="WRRC">
            <section class="col13">
            	 <h2><strong>W</strong>RRC</h2>
              <h4><span>Suparna Ganguly </span></h4>
              
              <p class="pad_bot1">Co-founder and Trustee Compassion Unlimited Plus Action (CUPA) and Wildlife Rescue and Rehabilitation Centre (WRRC), Bangalore. Ex Task Force member for Wild and Captive Elephants 2011, M0EF, and Central Zoo Authority (CZA) subcommittee member for appraisal of Zoo and Circus elephants. AWBI investigator on captive elephant facilities for temples and mutts.</p>
              <h4 class="color2"><span>Dr. Sheila  N. Rao </span></h4>
              
              <p class="pad_bot1">Co-founder and Trustee Compassion Unlimited Plus Action (CUPA) and Wildlife Rescue and Rehabilitation Centre (WRRC), Bangalore. Has been on numerous committees of Center and State for animal welfare and veterinary initiatives for domestic animals.  </p>
              </section>
          </div>
          
        </div>
      </div>
    </article>
    <!-- / content -->
    <!-- footer -->
    
    <!-- / footer -->
 
<script type="text/javascript">Cufon.now(); tabs.init();</script>
<script>
function scrollWin() {
    window.scrollBy(0,200);
}
</script>
    </body>
